.feature-panel {
	// @extend .container;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include mq(medium) {
		flex-direction: row;
	}

	&__tips {
		.feature-panel__item {
			padding: var(--spacing);
			@include mq(large) {
				width: 50%;
				padding: var(--spacing-l);
			}
		}
		.feature-panel__text {
			width: 100%;
			@include mq(medium) {
				width: 60%;
			}
			@include mq(large) {
				width: 70%;
				padding-right: 0;
			}

			h3 {
				min-width: 90px;
				margin-bottom: 0;
			}
		}
		.feature-panel__image {
			width: 100%;
			@include mq(medium) {
				width: 40%;
			}
			@include mq(large) {
				width: 30%;
				padding-left: 0;
				padding-right: var(--spacing);
			}
		}
		&-list {
			margin-top: var(--spacing-s);
			&-item {
				display: flex;
				margin-bottom: var(--spacing-s);
				@include mq(large) {
					align-items: center;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&--contained {
		margin-left: var(--spacing) !important;
		margin-right: var(--spacing) !important;
		border-radius: var(--border-radius);
		// background-color: transparent !important;
		@include mq(large) {
			margin-left: var(--spacing-xl) !important;
			margin-right: var(--spacing-xl) !important;
		}
	}
	&__item {
		width: 100%;
		padding: var(--spacing-l) var(--spacing);
		@include mq(large) {
			width: 50%;
			padding: var(--spacing-xl);
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		z-index: 1;
		// + .feature-panel__text {
		// 	padding-left: 0;
		// }
		&--top {
			align-items: flex-start;
			.feature-panel__text {
				justify-content: flex-start;
			}
		}

		ul {
			list-style-type: disc;
			margin-bottom: 0;
			li {
				margin-bottom: 1rem;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
	&__image {
		display: flex;
		justify-content: center;
		// align-self: stretch;
		@include mq($until: medium) {
			padding-top: 0;
			padding-bottom: var(--spacing-l);
			order: 2 !important;
		}
		&--left {
			.feature-panel__text {
				order: 1;
				@include mq(medium) {
					order: 2;
				}
			}
		}
		&--right {
			.feature-panel__image {
				@include mq(medium) {
					order: 2;
				}
			}
			.feature-panel__text {
				order: 1;
			}
		}
		&--bkg {
			padding: 0;
			align-items: stretch;
			position: relative;
			overflow: hidden;
			@include mq(large) {
				min-height: 40vw;
			}
			img {
				// width: 100%;
			}
		}
	}
	&--bkg__image {
		position: relative;
		height: 100%;
		width: 100%;

		img {
			@include mq(medium) {
				position: absolute;
				z-index: 0;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-width: none;
				min-width: calc(100% + 2px);
				min-height: calc(100% + 2px);
				display: block;
			}
		}
	}
	
	+ .feature-panel {
		padding-top: 0;
	}
	+ .feature-panel__bkg-image {
		@include mq(medium) {
			padding-top: var(--spacing-xl);
		}
	}
}
