.feature-pages + .feature-properties,
.feature-properties + .feature-properties {
	padding-top: 0;
	.feature-properties__list {
		margin-top: 0;
		@include mq(large) { 
			// margin-top: 1rem;
		}
	}
}
.feature-properties {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--spacing-xl) 1rem;
	padding-bottom: 0;
	text-align: center;
	@include mq(medium) {
		padding: var(--spacing-xl) 1rem;
		padding-bottom: 0;
	}
	@include mq(large) {
		padding: var(--spacing-xl) 0;
		padding-bottom: 0;
	}
	&__header {
		width: 100%;
		@extend .container;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__list {
		@extend .container;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		// flex-direction: column;
		
		width: 100%;
		margin-top: var(--spacing);

		@include mq(medium) {
			padding: 0 3rem;
			flex-direction: row;
		}
		@include mq(xlarge) {
			padding: 0 0;
		}

		.slick-slide {
			margin: 0 0.5rem;
		}
		// .slick-prev {
		// 	@include mq($until: xlarge) {
		// 		left: 0;
		// 	}
		// 	@include mq($until: xlarge) {
		// 		left: 0;
		// 	}
		// }
		// .slick-next {
		// 	@include mq($until: xlarge) {
		// 		right: 0;
		// 	}
		// }
	}
	&__item {
		position: relative;
		display: flex;
		flex-direction: column;
		// margin: 0 0.5rem var(--spacing-s) 0.5rem;
		margin: 0 0.5rem 1rem 0.5rem;
		padding: 0 0 var(--spacing-s) 0;
		border-radius: var(--border-radius);
		border: 1px solid #707070;
		background-color: white;
		color: var(--color-text-base);
		// background-position: center center;
		overflow: hidden;
		// height: 100%;
		// height: 100%;
		width: calc(50% - 1rem);
		
		@include mq(medium) {
			// width: calc(50% - 1rem);
			// width: calc(50% - 1rem);
			// flex: 1 1 0px;
			// margin: 0 0.5rem 1rem 0.5rem;
			margin: 0 0.5rem 1rem 0.5rem;
		}
		@include mq(large) {
			width: calc(25% - 1rem);
			// flex: 1 1 0px;
			// margin: 0 0.5rem;
			// margin: 0 0.5rem;
		}
		p {
			margin-bottom: 0;
		}
		.btn {
			margin: auto var(--spacing-s) 0 var(--spacing-s);
		}
		&:hover {
			text-decoration: none;
			color: var(--color-text-base);
			.btn {
				background-color: black;
			}
		}
	}
	&__image {
		position: relative;
		background-size: cover;
		background-position: center center;	
		width: 100%;
		height: auto;
	}
	&__content {
		display: flex;
		flex-direction: column;
		padding: var(--spacing-s);
		// height: 100%;

		h5 {
			margin-bottom: var(--spacing-s);
		}
	}
	&__rooms,
	&__price {
		margin-bottom: var(--spacing-s);
	}
}
.feature-properties:not(:has(~ .feature-properties)) {
	padding-bottom: var(--spacing-xl);
	@include mq(medium) {
		padding-bottom: var(--spacing-xl);
	}
	@include mq(large) {
		padding-bottom: var(--spacing-xl);
	}
}