.meal-plan {
	display: flex;
	flex-wrap: wrap;
	padding: var(--spacing-xl) 0;
	&__title {
		width: 100%;
		text-align: center;
		margin-bottom: var(--spacing-xl);
		// padding-top: var(--spacing-xl);
	}
	&__plan,
	&__list {
		width: 50%;
		padding: 0 var(--spacing-xl);
	}
	&__plan {
		h3 {
			margin-bottom: 0.5rem;
			margin-top: 2rem;
		}
	}
	&__list {
		border-left: 3px solid white;
	}
}