.btn,
input[type="button"],
input[type="submit"],
button,
.wp-block-button__link,
.wp-block-button__link:visited {
	display: inline-block;
	border-radius: 100px;
	padding: 0.25rem 1.8rem;
	border: 0;
	color: white;
	font-size: 16px;
	font-weight: var(--font-weight-bold);
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	background-color: var(--color-secondary);

	&:hover, &:focus {
		background-color:  var(--color-text-dark);
		color: white;
		// border-color: var(--color-grey-dark);
		// color: var(--color-primary);
		outline: 0;
		text-decoration: none;
	}
	a {
		color: white;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	+ .btn {
		margin-left: 0.5rem;
	}
}

span.btn {
	padding: 0;
	a {
		@extend .btn;
		// padding: 0.25rem 1.8rem;
		// background-color: var(--color-secondary);
		// border-radius: 100px;
	}
}
// .wp-block-button__link {
// 	background-color: transparent;
// }
.wp-block-button {
	margin-top: var(--spacing);
}

.btn--secondary{
	position: relative;
	background: var(--color-primary);
	padding: 0.5rem 1rem;
}
.btn--large {
	margin-top: var(--spacing);
	width: 100%;
	padding: 1rem 1rem;
	font-size: var(--font-size-lead);
}


span.btn--primary {
	padding: 0;
	a {
		@extend .btn;
		background-color: white;
		color: var(--color-text-dark);
	}
	&:hover, &:focus {
		color: white;
	}
}
.btn--block {
	background-color: white;
	border: 2px solid white;
	color: var(--color-primary);

	&:hover, &:focus {
		border: 2px solid  var(--color-text-dark);
	}
	a {
		color: var(--color-primary);
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
// .is-style-btn--green {
// 	.wp-block-button__link {
// 		background-color: var(--color-primary);
// 	}
// 	&:hover {
// 		.wp-block-button__link {
// 			background-color: var(--color-text-dark);
// 		}
// 	}
// }

p + p .btn {
	// margin-top: 1.5rem;
}
.link {
	text-decoration: underline;
	&:hover {
		color: var(--color-primary);
	}
}

.btn--tour {
	position: relative;
	background: var(--color-primary);
	padding: 0.5rem 80px 0.5rem 1rem;
	margin-top: 1.5rem;
	img {
		position: absolute;
		top: 50%;
		transform: translateY(-55%);
		right: 5px;
		width: 65px;
	}
}
