.btn,
input[type="button"],
input[type="submit"],
button,
.wp-block-button__link,
.wp-block-button__link:visited {
	display: inline-block;
	border-radius: 100px;
	padding: 0.25rem 1.8rem;
	border: 0;
	color: white;
	font-size: 16px;
	font-weight: var(--font-weight-bold);
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	background-color: var(--color-secondary);

	&:hover, &:focus {
		background-color:  var(--color-text-dark);
		color: white;
		// border-color: var(--color-grey-dark);
		// color: var(--color-primary);
		outline: 0;
		text-decoration: none;
	}
	a {
		color: var(--color-text-dark);
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
	+ .btn {
		margin-left: 0.5rem;
	}
}
// .wp-block-button__link {
// 	background-color: transparent;
// }
.wp-block-button {
	margin-top: var(--spacing);
}

.btn--primary {
	border: 2px solid white;
	color: white;

	&:hover, &:focus {
		border: 2px solid  var(--color-text-dark);
	}
}
.btn--block {
	background-color: white;
	border: 2px solid white;
	color: var(--color-primary);

	&:hover, &:focus {
		border: 2px solid  var(--color-text-dark);
	}
	a {
		color: var(--color-primary);
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

p + p .btn {
	margin-top: 1.5rem;
}
.link {
	text-decoration: underline;
	&:hover {
		color: var(--color-primary);
	}
}
