.gallery {
	@extend .container;
	margin: 0 auto var(--spacing-s) auto;
	border-radius: var(--border-radius);
	overflow: hidden;
	@include mq(medium) {
		margin: 0 auto var(--spacing-xl) auto;
	}

	&--item {
		width: 100%;
		img {
			width: 100%;
		}
	}
}