// =============================================================================
// Site
// =============================================================================

.global-container {
	max-width: var(--container-global);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: var(--container-global);
}

.main {
	// @extend .container;
	max-width: var(--container);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-l);
	flex: 1;
}

// Background colours
.bkg {
	&--white {
		background-color: white;
		+  .bkg--white {
			margin-top: 0;
			padding-top: 0;
		}
	}
	&--grey {
		background-color: var(--color-grey);
	}
	&--green {
		background-color: var(--color-primary);
		color: white;
		h1, h2, h3, h4, h5, h6, p, ul li {
			color: white;
		}
		.wp-block-button__link {
			background-color: white;
			color: var(--color-text-dark);
		}
	}
}


// Show and hide

.hide {
	display: none;
}
.hidemobile {
	@include mq($until: medium) {
		display: none !important;
	}
}

.hidedesktop {
	@include mq(medium) {
		display: none !important;
	}
}
