// =============================================================================
// Site
// =============================================================================

.global-container {
	max-width: var(--container-global);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: var(--container);
}

.main {
	// @extend .container;
	max-width: var(--container);
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-l);
	flex: 1;
}
#content {
	> h1,
	> h2,
	> p {
		max-width: var(--container-s);
		margin-left: auto;
		margin-right: auto;

		&:first-child {
			margin-top: var(--spacing-xxl);
		}
		&:last-child {
			margin-bottom: var(--spacing-xxl);
		}
	}
	> .hbspt-form {
		max-width: var(--container-s);
		margin: 0 auto;
	}
}