.property {
	&__title {
		@extend .container;
		text-align: center;
		padding-top: var(--spacing-xl);
		padding-bottom: var(--spacing);
		@include mq(medium) {
			padding-top: var(--spacing-xxl);
		}
	}
	&__details {
		@extend .container;
		display: flex;
		flex-direction: column;
		margin-top: var(--spacing-s);
		@include mq(medium) {
			flex-direction: row;
			margin-top: var(--spacing-xl);
		}
	}
	&__content,
	&__contact {
		flex: 1 1 0;
		width: 100%;
		@include mq(medium) {
			width: 50%;
		}
	}
	&__content {
		padding-right: var(--spacing);
		margin-bottom: var(--spacing-l);
	}
	&__contact {
		@include mq(medium) {
			padding-left: var(--spacing);
		}

		.hbspt-form {
			padding-bottom: var(--spacing);
			margin-bottom: var(--spacing-l);
			border-bottom: 0.5px solid black;
		}
	}

	&__rooms {
		display: flex;
		> div {
			// width: 50%;
			// flex: 1 1 0;

			&:last-child {
				padding-left: var(--spacing-s);
				margin-left: auto;
			}
		}
	}

	&__item {
		border-top: 0.5px solid black;
		padding: var(--spacing-s) 0;
		@include mq(medium) {
			padding: var(--spacing) 0;
		}
		&:first-child {
			border-top: 0;
			padding-top: 0;
		}
		&:last-child {
			border-bottom: 0.5px solid black;
			margin-bottom: 0;
		}
	}
	&__amenities {
		&-item {
			margin-bottom: var(--spacing-s);
			&:last-child {
				margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
			}
		}
	}
	&__benefits {
		margin-bottom: var(--spacing-s);
		@include mq(medium) {
			margin-bottom: var(--spacing);
		}
		&-item {
			display: flex;
			margin-bottom: var(--spacing-xs);
			align-items: center;
			&:last-child {
				margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
			}

			img,
			.icon {
				width: 25px !important;
				margin-right: 10px;
			}
		}
	}
	&__features-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: var(--spacing-s);
		
		&-item {
			display: flex;
			width: 50%;
			margin-bottom: var(--spacing-s);
			align-items: center;

			img,
			.icon {
				width: 30px;
				margin-right: 10px;
			}
		}
	}
}