.site-footer {
	margin-top: auto;
	// text-align: center;
	background-color: var(--color-grey);
	padding: var(--spacing) 0;
	font-size: var(--font-size-small);
	@include mq(medium) {
		padding: var(--spacing-l) 0;
	}

	&__left,
	&__right {
		display: flex;
	}
	&__left {
		flex-direction: column;
		@include mq(medium) {
			width: 50%;
		}
	}
	&__right {
		justify-content: space-between;
	}

	&__logos {
		display: flex;
		flex-wrap: wrap;
		margin-top: auto;
		flex-direction: row;
		align-items: center;
		&-item{
			// max-height: 30px;
			margin-bottom: var(--spacing-s);
			margin-right: var(--spacing-s);
			img {
				max-height: 40px;
			}
		}
		&-award {
			width: 144px;
		}
	}

	&__links {
		margin-top: var(--spacing);
		@include mq(medium) {
			margin-top: 0;
			margin-left: 2rem;
		}
		ul {
			margin: 0 0 1rem 0;
			padding-left: 0;
			li {
				a {
					color: var(--color-text-base);
				}
			}
		}
	}
}

.site-footer__inner {
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	// align-items: center;
	padding: 0 var(--spacing);
	@include mq(medium) {
		flex-direction: row;
		padding: 0 var(--spacing-xl);
	}
}

.site-footer p {
	margin: 0;
	font-size: var(--font-size-small);
}
