.accordion {
	padding: var(--spacing-xl);
	&--title {
		text-align: center;
		margin-bottom: var(--spacing);
	}
}

.accordion__item {
	background-color: var(--color-primary);
	border-radius: var(--border-radius);
	margin-bottom: var(--spacing);
}

.accordion__handle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: var(--spacing-s) var(--spacing);
	border: 0;
	border-radius: 0;
	background: transparent;
	cursor: pointer;
	&:hover, &:active, &:focus {
		background: transparent;
	}
}

.accordion__title {
	margin: 0!important;
	color: white;
	font-size: var(--font-size-h3);
	flex: 1;

	.is-active & {
		color: white;
	}
}

.accordion__icon {
    position: relative;
    width: 20px;
    height: 20px;

    &:before,
    &:after {
        content: "";
        position: absolute;
        background: white;
        transition: transform 0.25s ease-out;
    }

    &:before {
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        margin-left: -1px;
    }

    &:after {
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        margin-top: -1px;
    }

	.is-active & {
        &:before { transform: rotate(90deg); }
        &:after { transform: rotate(180deg); }
    }
}

.accordion__body {
	display: none;
	padding: var(--spacing);
	color: white;

	&--left {
		width: calc(100% / 3);
		margin-right: var(--spacing);

		img {
			width: 100%;
		}
	}
	&--right {
		width: calc(100% / 3 * 2);
		margin-left: var(--spacing);
	}

	p:first-child {
		margin-top: 0;
	}

	&.is-open {
		display: flex;
	}

	ul, ol {
		list-style: auto;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		padding-left: 1em;
		li {
			padding-left: 0.5rem;
			margin-bottom: 0.5rem;
		}
	}
}

