.two-col {
	@extend .container;
	display: flex;
	flex-direction: column;
	// align-items: center;
	@include mq(large) {
		flex-direction: row;
	}
	&__item {
		width: 100%;
		@include mq($until: large) {
			order: 1;
			margin-bottom: 1.5rem;
		}
		@include mq(large) {
			width: 50%;
			padding: 0 1rem;
		}
		@include mq($until: large) {
			img {
				width: 50%;
			}
		}
		
		&-image--small {
			img {
				max-width: 50%;
				   margin: 0 auto;
			}
		}
		&--full {
			width: 100%;
		}
		// &--text {
		// 	width: 50%;
		// }
		&--order {
			@include mq($until: large) {
				order: 0;
			}
		}

		ul, ol {
			list-style: disc;
			li {
				margin-bottom: 0.75rem;
			}
		}
		h2, h3, h4, h5 {
			padding-right: 2rem;
		}
		&:first-of-type {
			margin-bottom: 1.5rem;
			@include mq(large) {
				margin-bottom: 0;
				padding-left: 0;
			}
			img {
				@include mq(large) {
					// padding-right: 5rem;
					// padding-left: 5rem;
				}
			}
		}
		&:last-of-type {
			@include mq(large) {
				padding-right: 0;
			}
			img {
				@include mq(large) {
					// padding-right: 5rem;
					// padding-left: 5rem;
				}
			}
		}
		// img {
		// 	padding: 2rem;
		// }
		.btn {
			margin-top: 0;
		}
	}
	&__video {
		@extend .container;
		margin-top: var(--spacing-s);
		height: 50vw;
		max-height: calc(var(--container) / 2);
	}
}